
<!DOCTYPE html>
<html style="background: #e0e0e0;">
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body style="width: 60%; margin: 20px auto; padding: 20px 60px 20px 20px; background: #ffffff;">
  <div id="app">
    <h1>Call of Cthulhu - Card Maker</h1>
    <el-form ref="form" label-width="120px">
      <el-form-item label="时代背景">
        <el-select v-model="form.era">
          <el-option v-for="era in era_list" :key="era.value" :value="era.value" :label="era.label"/>
        </el-select>
      </el-form-item>
      <h2>Basics</h2>
      <el-row>
        <el-col :offset="1" :span="19">
          <el-form-item label-width="auto" label="自定义属性（勾选后可以自行调整属性）">
            <el-checkbox v-model="form.diy_stat" />
          </el-form-item>
        </el-col>
        <el-col :offset="1" :span="3">
          <el-button @click="roll_stat">Roll stat</el-button>
        </el-col>
      </el-row>
      <el-row>
        <el-col v-for="i in [0, 1, 2, 3]" :span="6">
          <el-form-item :label="stat_label[i]">
            <el-input v-model="form.stat[i]" type="number" :disabled="!form.diy_stat"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col v-for="i in [4, 5, 6, 7]" :span="6">
          <el-form-item :label="stat_label[i]">
            <el-input v-model="form.stat[i]" type="number" :disabled="!form.diy_stat"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="18">
          <el-form-item label="八大属性总和">
            <a>{{ sum(stat) }}</a>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item :label="stat_label[8]">
            <el-input v-model="form.stat[8]" type="number" :disabled="true"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="*姓名">
            <el-input v-model="form.name"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="*玩家">
            <el-input v-model="form.player_name"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="*职业">
            <el-select filterable placeholder="可输入进行搜索" v-model="form.career" style="width: 100%;">
              <el-option v-for="career in career_list" :key="career.id" :value="career.id" :label="career.label"/>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="*年龄">
            <el-input type="number" v-model="form.age"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="*性别">
            <el-select v-model="form.gender">
              <el-option v-for="gender in gender_list" :key="gender.value" :value="gender.value" :label="gender.label"/>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="*住地">
            <el-input v-model="form.address"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="*出身">
            <el-input v-model="form.from"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="9">
          <el-form-item label="属性减益：">
            <a>{{ debuff_text[age_level] }}</a>
          </el-form-item>
        </el-col>
        <div v-if="form.age >= 40">
          <el-col :span="5">
            <el-form-item label="*力量">
              <el-input v-model="debuff.str"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="5">
            <el-form-item label="*敏捷">
              <el-input v-model="debuff.dex"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="5">
            <el-form-item label="*体质">
              <el-input v-model="debuff.con"></el-input>
            </el-form-item>
          </el-col>
        </div>
        <div v-if="form.age < 20">
          <el-col :span="7" :offset="1">
            <el-form-item label="*力量">
              <el-input v-model="debuff.str"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="7">
            <el-form-item label="*体型">
              <el-input v-model="debuff.siz"></el-input>
            </el-form-item>
          </el-col>
        </div>
      </el-row>
      <h2>Final Ability</h2>
      <el-table :data="table_data" style="width: 100%">
        <el-table-column prop="str" label="力量"></el-table-column>
        <el-table-column prop="con" label="体质"></el-table-column>
        <el-table-column prop="siz" label="体型"></el-table-column>
        <el-table-column prop="dex" label="敏捷"></el-table-column>
        <el-table-column prop="app" label="外貌"></el-table-column>
        <el-table-column prop="edu" label="教育"></el-table-column>
        <el-table-column prop="int" label="智力"></el-table-column>
        <el-table-column prop="pow" label="意志"></el-table-column>
        <el-table-column prop="luck" label="幸运"></el-table-column>
        <el-table-column prop="hp" label="HP"></el-table-column>
        <el-table-column prop="mp" label="MP"></el-table-column>
        <el-table-column prop="mov" label="移动"></el-table-column>
        <el-table-column prop="tg" label="体格"></el-table-column>
        <el-table-column prop="san" label="Sanity"></el-table-column>
      </el-table>
      <h2>Skill Points</h2>
      <p style="color: #606266">剩余职业点数：{{ get_skill_point() - sum(career_points) }}</p>
      <p style="color: #606266">剩余兴趣点数：{{ stat[6] * 2 - sum(interest_points) }}</p>
      <p style="color: #606266">本职技能：{{ career_list[form.career - 1].skills }}</p>
      <p style="color: #606266">CR：{{ career_list[form.career - 1].min_cr }}~{{ career_list[form.career - 1].max_cr }}</p>
      <el-row style="color: #606266; border-bottom: solid #606266 1px; padding: 0px 40px 10px 40px;">
        <el-col :span="9">
          技能名称
        </el-col>
        <el-col :span="3">
          初始
        </el-col>
        <el-col :span="3">
          职业
        </el-col>
        <el-col :span="3">
          兴趣
        </el-col>
        <el-col :span="6">
          总计（成功率）
        </el-col>
      </el-row>
      <el-row style="color: #606266; line-height: 30px; padding: 5px 40px 0px 40px;" v-for="skill in skills">
        <el-col :span="9">
          {{ skill.label == "信用评级" ? "*" : ""}}{{ skill.label }}
        </el-col>
        <el-col :span="3">
          {{ skill.basic }}
        </el-col>
        <el-col :span="3">
          <a v-if="skill.forbid && skill.forbid % 2 == 1">-</a>
          <el-input v-if="!skill.forbid || skill.forbid % 2 == 0" style="width: 80%;" size="small" type="number" v-model="career_points[skill_list.indexOf(skill)]"></el-input>
        </el-col>
        <el-col :span="3">
          <a v-if="skill.forbid && skill.forbid >= 2">-</a>
          <el-input v-if="!skill.forbid || skill.forbid < 2" style="width: 80%;" size="small" type="number" v-model="interest_points[skill_list.indexOf(skill)]"></el-input>
        </el-col>
        <el-col :span="6">
          {{ skill.sum }} / {{ Math.floor(skill.sum / 2) }} / {{ Math.floor(skill.sum / 5) }}
        </el-col>
      </el-row>
      <el-row style="color: #606266; line-height: 30px; padding: 5px 40px 0px 40px;">
        <el-col :span="5">
          *语言(母语):
        </el-col>
        <el-col :span="4">
          <el-input style="width: 80%;" size="small" v-model="form.lang[0].label"></el-input>
        </el-col>
        <el-col :span="3">
          {{ stat[5] }}
        </el-col>
        <el-col :span="3">
          <el-input style="width: 80%;" size="small" type="number" v-model="form.lang[0].career"></el-input>
        </el-col>
        <el-col :span="3">
          <el-input style="width: 80%;" size="small" type="number" v-model="form.lang[0].interest"></el-input>
        </el-col>
        <el-col :span="6">
          {{ parseInt(form.lang[0].career) + parseInt(form.lang[0].interest) + stat[5] }} / {{ Math.floor((parseInt(form.lang[0].career) + parseInt(form.lang[0].interest) + stat[5]) / 2) }} / {{ Math.floor((parseInt(form.lang[0].career) + parseInt(form.lang[0].interest) + stat[5]) / 5) }}
        </el-col>
      </el-row>
      <el-row style="color: #606266; line-height: 30px; padding: 5px 40px 0px 40px;" v-for="i in [1, 2, 3]">
        <el-col :span="5">
          语言:
        </el-col>
        <el-col :span="4">
          <el-input style="width: 80%;" size="small" v-model="form.lang[i].label"></el-input>
        </el-col>
        <el-col :span="3">
          1
        </el-col>
        <el-col :span="3">
          <el-input style="width: 80%;" size="small" type="number" v-model="form.lang[i].career"></el-input>
        </el-col>
        <el-col :span="3">
          <el-input style="width: 80%;" size="small" type="number" v-model="form.lang[i].interest"></el-input>
        </el-col>
        <el-col :span="6">
          {{ parseInt(form.lang[i].career) + parseInt(form.lang[i].interest) + 1 }} / {{ Math.floor((parseInt(form.lang[i].career) + parseInt(form.lang[i].interest) + 1) / 2) }} / {{ Math.floor((parseInt(form.lang[i].career) + parseInt(form.lang[i].interest) + 1) / 5) }}
        </el-col>
      </el-row>
      <h2>Background</h2>
      <el-form-item label="*形象描述">
        <el-input v-model="form.bg[0]"></el-input>
      </el-form-item>
      <el-form-item label="*思想与信念">
        <el-input v-model="form.bg[1]"></el-input>
      </el-form-item>
      <el-form-item label="*重要之人">
        <el-input v-model="form.bg[2]"></el-input>
      </el-form-item>
      <el-form-item label="*意义非凡之地">
        <el-input v-model="form.bg[3]"></el-input>
      </el-form-item>
      <el-form-item label="*宝贵之物">
        <el-input v-model="form.bg[4]"></el-input>
      </el-form-item>
      <el-form-item label="*特质">
        <el-input v-model="form.bg[5]"></el-input>
      </el-form-item>
      <el-form-item label="伤口和疤痕">
        <el-input v-model="form.bg[6]"></el-input>
      </el-form-item>
      <el-form-item label="恐惧症和狂躁症">
        <el-input v-model="form.bg[7]"></el-input>
      </el-form-item>
      <h2>Items</h2>
      <el-input style="margin-bottom: 22px;" v-model="form.item[0]"></el-input>
      <el-input style="margin-bottom: 22px;" v-model="form.item[1]"></el-input>
      <el-input style="margin-bottom: 22px;" v-model="form.item[2]"></el-input>
      <el-input style="margin-bottom: 22px;" v-model="form.item[3]"></el-input>
      <el-input style="margin-bottom: 22px;" v-model="form.item[4]"></el-input>
      <el-input style="margin-bottom: 22px;" v-model="form.item[5]"></el-input>
      <el-input style="margin-bottom: 22px;" v-model="form.item[6]"></el-input>
      <el-input style="margin-bottom: 22px;" v-model="form.item[7]"></el-input>
    </el-form>
    <el-button @click="commit" type="primary">提交到服务器</el-button>
    
  </div>
  <p style="color: #666666; font-size: 14px; border-top: solid 1px #666666; padding-top: 20px;">Powered by Diving_Fish. All rights reserved.</p>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    var v = new Vue({
      el: '#app',
      computed: {
        stat: function() {
          let stat = [];
          for (var i = 0; i < 8; i++) {
            let debuff = 0;
            if (i == 0) {
              debuff = parseInt(this.debuff.str);
            } else if (i == 1) {
              debuff = parseInt(this.debuff.con);
            } else if (i == 2) {
              debuff = parseInt(this.debuff.siz);
            } else if (i == 3) {
              debuff = parseInt(this.debuff.dex);
            } else if (i == 4 && this.age_level >= 2) {
              debuff = 5 * (this.age_level - 1);
            } else if (i == 5 && this.age_level == 0) {
              debuff = 5;
            }
            stat.push(parseInt(this.form.stat[i]) - debuff);
          }
          this.form.stat.push(0);
          this.form.stat.pop();
          return stat;
        },
        table_data: function() {
          let _data = this.stat;
          let data = {};
          let dmg = _data[0] + _data[2];
          if (dmg <= 64) {
            data.tg = -2;
          } else if (dmg <= 84) {
            data.tg = -1;
          } else if (dmg <= 124) {
            data.tg = 0;
          } else if (dmg <= 164) {
            data.tg = 1;
          } else if (dmg <= 204) {
            data.tg = 2;
          } else if (dmg <= 284) {
            data.tg = 3;
          } else if (dmg <= 364) {
            data.tg = 4;
          } else if (dmg <= 444) {
            data.tg = 5;
          } else if (dmg <= 524) {
            data.tg = 6;
          }
          data.hp = Math.floor((_data[1] + _data[2]) / 10);
          if (_data[0] < _data[2] && _data[3] < _data[2]) {
            data.mov = 7;
          } else if (_data[0] > _data[2] && _data[3] > _data[2]) {
            data.mov = 9;
          } else {
            data.mov = 8;
          }
          if (this.age_level >= 2) {
            data.mov -= this.age_level - 1;
          }
          data.mp = Math.floor(this.stat[7] / 5);
          data.str = _data[0];
          data.con = _data[1];
          data.siz = _data[2];
          data.dex = _data[3];
          data.app = _data[4];
          data.edu = _data[5];
          data.int = _data[6];
          data.pow = _data[7];
          data.luck = this.form.stat[8];
          data.san = data.pow;
          return [data];
        },
        skills: function() {
          let l = this.skill_list;
          for (let i = 0; i < l.length; i++) {
            l[i].sum = l[i].basic + parseInt(this.career_points[i]) + parseInt(this.interest_points[i]);
          }
          return l;
        },
        age_level: function() {
          let age = this.form.age;
          if (age < 20) {
            return 0;
          } else if (age < 40) {
            return 1;
          } else if (age < 50) {
            return 2;
          } else if (age < 60) {
            return 3;
          } else if (age < 70) {
            return 4;
          } else if (age < 80) {
            return 5;
          } else if (age < 90) {
            return 6;
          }
        }
      },
      data: function() {
        return {
          update: 1,
          career_list: [],
          skill_list: [],
          stat_label: ['力量/STR', '体质/CON', '体型/SIZ', '敏捷/DEX', '外貌/APP', '教育/EDU', '智力/INT', '意志/POW', '幸运/Luck'],
          debuff_text: ['力量体型合计-5，EDU-5', '无', '力量体质敏捷合计-5，外貌-5', '力量体质敏捷合计-10，外貌-10', '力量体质敏捷合计-20，外貌-15', '力量体质敏捷合计-40，外貌-20', '力量体质敏捷合计-80，外貌-25'],
          form: {
            lang: [{label: "", career: 0, interest: 0}, {label: "", career: 0, interest: 0}, {label: "", career: 0, interest: 0}, {label: "", career: 0, interest: 0}],
            era: 2,
            stat: [0, 0, 0, 0, 0, 0, 0, 0, 0],
            diy_stat: false,
            name: "",
            player_name: "",
            age: 20,
            gender: 1,
            career: 1,
            address: "",
            from: "",
            bg: ["", "", "", "", "", "", "", ""],
            item: ["", "", "", "", "", "", "", ""],
          },
          debuff: {
            str: 0,
            con: 0,
            siz: 0,
            dex: 0
          },
          career_points: [],
          interest_points: [],
          era_list: [
            {value: 1, label: "1890s"},
            {value: 2, label: "1920s"},
            {value: 3, label: "现代"}
          ],
          gender_list: [
            {value: 1, label: "男"},
            {value: 2, label: "女"}
          ],
        }
      },
      created: function() {
        axios.get("http://47.100.50.175:25565/careers").then(resp => {
          this.career_list = resp.data;
        })
        axios.get("http://47.100.50.175:25565/skills").then(resp => {
          this.skill_list = resp.data;
          for (var i = 0; i < this.skill_list.length; i++) {
            this.career_points.push(0);
            this.interest_points.push(0);
          }
        })
        this.roll_stat();
      },
      methods: {
        roll(times, max) {
          let value = 0;
          for (var i = 0; i < times; i++) {
            let r = Math.ceil(Math.random() * max);
            value += r;
          }
          return value;
        },
        roll_stat() {
          for (var i = 0; i < 9; i++) {
            if (i == 2 || i == 6 || i == 5) {
              this.form.stat[i] = (this.roll(2, 6) + 6) * 5;
            } else {
              this.form.stat[i] = this.roll(3, 6) * 5;
            }
          }
          this.form.stat.push(0);
          this.form.stat.pop();
        },
        sum(v) {
          let s = 0;
          for (var i = 0; i < v.length; i++) {
            s += parseInt(v[i]);
          }
          return s;
        },
        get_skill_point() {
          let str = this.stat[0];
          let con = this.stat[1];
          let siz = this.stat[2];
          let dex = this.stat[3];
          let app = this.stat[4];
          let edu = this.stat[5];
          let int = this.stat[6];
          let pow = this.stat[7];
          return eval(this.reg_stat(this.career_list[this.form.career - 1].stat))
        },
        reg_stat(v) {
          let arr = v.split('＋');
          if (arr.length == 2) {
            return this.reg_statm(arr[0]) + "+" + this.reg_statm(arr[1]);
          } else {
            return this.reg_statm(arr[0]);
          }
        },
        reg_statm(v) {
          let vr = v.replace('力量', 'str').replace('体质', 'con').replace('体型', 'siz').replace('敏捷', 'dex').replace('外貌', 'app').replace('教育', 'edu').replace('智力', 'int').replace('意志', 'pow');
          let n = parseInt(vr[vr.length - 1]);
          vr = vr.substr(0, vr.length - 2);
          let arr = vr.split('或');
          let max = 0;
          str = "Math.max(";
          for (let elem of arr) {
            str += elem + ", "
          }
          str += ")"
          return str + " * " + n;
        },
        update_data() {
          let str = JSON.stringify(this.form);
          let data = JSON.parse(str);
          data.stats = this.table_data[0];
          data.skills = JSON.parse(JSON.stringify(this.skills));
          for (let i = 0; i <= 3; i++) {
            data.skills.push({
              basic: (i == 0) ? this.stat[5] : 1,
              label: "语言: " + this.form.lang[i].label,
              sum: parseInt(this.form.lang[i].career) + parseInt(this.form.lang[i].interest) + ((i == 0) ? this.stat[5] : 1)
            })
          }
          delete data.lang;
          delete data.diy_stat;
          delete data.stat;
          return data;
        },
        commit() {
          let f = this.form;
          let check1 = !f.name || !f.player_name || !f.career || !f.age || !f.gender || !f.address || !f.from;
          let check2 = false;
          for (let i = 0; i < 6; i++) {
            check2 = check2 || !f.bg[i]
          }
          if (check1 || check2 || !f.lang[0].label) {
            this.$message.error("必填项未填写");
            return;
          }
          if (this.skills[7].sum > this.career_list[this.form.career - 1].max_cr || this.skills[7].sum < this.career_list[this.form.career - 1].min_cr) {
            this.$message.error("信用评级范围有误");
            return;
          }
          let debuff_arr = [5, 0, 5, 10, 20, 40, 80];
          if (parseInt(this.debuff.str) + parseInt(this.debuff.con) + parseInt(this.debuff.siz) + parseInt(this.debuff.dex) != debuff_arr[this.age_level]) {
            this.$message.error("能力减值未分配完毕");
            return;
          }
          axios.post('http://47.100.50.175:25565/insert', this.update_data())
          .then(() => {
            this.$message.success("提交成功");
            window.location.reload();
          })
          .catch(function (error) {
            this.$message.error("提交失败");
          });
        }
      }
    })
  </script>
</html>